/* Login.css */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('/public/stock-background.png') no-repeat center center fixed;
    background-size: cover;
  }
  
  .login-form {
    background: rgba(255, 255, 255, 0.9); /* Semi-transparent white background */
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    width: 340px;
  }
  
  
  .login-form h1 {
    margin-bottom: 20px;
  }
  
  .input-group {
    margin-bottom: 20px;
  }
  
  .input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .remember-me {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .remember-me input {
    margin-right: 5px;
  }
  
  .login-btn,
  .signup-btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-weight: bold;
  }
  
  .login-btn {
    background-color: #ff4081;
    margin-bottom: 20px;
  }
  
  .signup-btn {
    background-color: #9c27b0;
  }
  
  /* Add other styles here as needed */
  